<ion-content [fullscreen]="true" class="fondo">
  <div class="titulo">Claudia Cocina</div>
  <div class="imagen"></div>
  <div class="centro">
    <ion-button (click)="irLogin()">Ingresar</ion-button>
  </div>
  <div class="contenedor_bandera">
    <div class="img_bandera">
      <ion-img src="./../../../assets/img/imagen.png" class="bandera"></ion-img>
    </div>
    <div class="img_bandera">
      <ion-img src="./../../../assets/img/imagen_1.png" class="bandera"></ion-img>
    </div>
  </div>
</ion-content>
